<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style/stylesheet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
</div>
<div id="app">
    <div id="header-line">
        <div id="header-line-content">
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-2">
                <a href="/" class="d-flex align-items-center text-light text-decoration-none">
                    <img class="label-image" th:src="@{/style/label_light.png}"}/>
                </a>
            </div>
        </div>
    </div>

    <div id="login-form">
        <h1 style="text-align: center;">Регистрация</h1>
        <div th:if="${message}">
            <span th:utext="${message}"></span>
        </div>
        <form th:action="@{/registration}" method="post">
            <table id="login-table">
                <tr><th><input type="text" name="username" class="login-input" placeholder="Логин"/></th></tr>
                <tr><th><input type="password" name="password" class="login-input" placeholder="Пароль"/></th></tr>
                <tr><th><input type="text" name="email" class="login-input" placeholder="Почта"/></th></tr>
                <tr><th><input type="text" name="telephone" class="login-input" placeholder="Телефон"/></th></tr>
            </table>
            <div><input class="login-btn" type="submit" value="Зарегистрироваться"/></div>
        </form>
    </div>

    <footer th:insert="blocks/footer :: footer_standart"></footer>
</div>
</body>
</html>